/* General Styles */
body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: white !important;
    color: #333;
}
header {
    text-align: center;
    background: linear-gradient(90deg, rgba(173, 216, 230, 1) 0%, rgba(255, 182, 193, 1) 100%);
    border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
a:hover {
    color: #e0e0e0; 
}
h1 {
    margin: 0;
    color: #fff;
}
ol {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
}
ol li {
    margin: 0;
    font-size: 1.2rem;
    font-weight:bold;
}
.row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px auto;
}
.text-column {
    text-align: left;
}
* {
    box-sizing: border-box;
}
.english
{
    font-family: "Manrope", sans-serif;
    font-size: 1.2rem;
}
html, body {
    height: 100%; 
    margin: 0; 
    display: flex; 
    flex-direction: column;
}

.container {
    flex: 1; 
}
footer {
    background-color: #000; 
    color: #fff; 
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #eaeaea;
}

footer .footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff; 
}

footer .footer-links a:hover {
    text-decoration: underline;
}

footer .footer-info {
    margin-top: 18px;
    font-size: 0.9rem;
    color: #fff; 
}